<header class="cabecalho">
    <h1 class="titulo"> Sistema Escola </h1>
    </header>
    <nav>
        <h3 class="curso"><a href="">Curso</a></h3>
        <br>
       </nav>
       <div class="div1">
           <fieldset class="fieldseti">
               <form>
                   <h4>Curso - Incluir</h4>
                   <label for="nome">Nome:</label>
                   <br><br>
                   <input type="text" placeholder="Digite seu  nome aqui" style="padding: 8px; width: 950px;">
                   <br><br>
                   <label for="instrutor">Instrutor:</label>
                   <br><br>
                   <input type="text" style="padding:8px; width: 950px;">
                   <br><br>
                   <label for="local">Local:</label>
                   <br><br>
                   <input type="text" style="padding: 8px; width: 950px;">
                   <br><br>
                   <label for="Carga horaria">Carga Horária:</label>
                   <label for="Data inicio" style="margin-left: 40%;">Data Inicio:</label>
                   <br><br>
   
                   <input type="number" style="padding: 8px; width: 400px;">
                   
                   <input type="number" placeholder="dd/mm/aaaa" style="padding: 8px; width: 455px; margin-left:7%">
                  
                   
                  
                   <br><br>
                   <button type="button" (click)="Inclusao()" class="botao1">Incluir</button>

                   <button type="button" (click)="Voltar()" class="botao1"><a href="index.html">Voltar</a></button>
                   <br><br>
                   
               </form>
           </fieldset>
       </div>
   
