<header class="cabecalho">
    <h1 class="titulo"> Sistema Escola </h1>
    </header>
    <nav>
        <h3 class="curso"><a href="">Curso</a></h3>
        <br>
       </nav>
       <div class="div1">
           <fieldset class="fieldset">
               <form>
                   <h3>Curso</h3>
                   <label>Nome:</label>
                   <br><br>
                   <input type="text" placeholder="nome" style="padding: 10px; width: 95%; ">
                   <br><br>
                   <button class="botao1">Pesquisar</button>
                   <br><br>
                   <table>
                       <thead>
                           <tr>
                               <th><strong>   </strong></th>
                               <th><strong>  Codigo  </strong></th>
                               <th><strong>Nome</strong></th>
                               <th><strong>Instrutor</strong></th>
                               <th><strong>Local</strong></th>
                               <th><strong>Carga Horaria</strong></th>
                               <th><strong>Data Inicio</strong></th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td><input type="radio"></td>
                               <td><strong>1</strong></td>
                               <td>Angular</td>
                               <td>Leandro</td>
                               <td>Softex</td>
                               <td>36</td>
                               <td>17/01/2023</td>
                           </tr>
                           <tr>
                               <td><input type="radio"></td>
                               <td><strong>1</strong></td>
                               <td>HTML/CSS</td>
                               <td>Leandro</td>
                               <td>Softex</td>
                               <td>36</td>
                               <td>01/01/2023</td>
                           </tr>
                       </tbody>
                   </table>
                   <button type="button" (click) ="ProximaPagina()" class= "botao2"><a href="inclusao.html">Incluir</a></button>
               </form>
           </fieldset>
       </div>
   



